body{
  background-color:#f8f8f8;
  font-family:Arial, sans-serif;
  margin:0;
  padding:20px;
}

.book-library{
  background-color:#ffffff;
  display:flex;
  justify-content:space-around;
  padding:20px;
  flex-wrap:wrap;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.book{
  width:200px;
  text-align:center;
  margin:15px;
  padding:10px;
  border:1px solid #ddd;
  border-radius:5px;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.book img{
  width:150px;
  height:200px;
  object-fit:cover;
}

.book-details{
  margin-top:5px;
  padding:5px;
}

.book .author{
  color:#777777;
  margin:5px 0;
}

.book .price{
  color:#ffffff;
  background-color:#2ecc71;
  font-weight:bold;
  padding:5px;
  border-radius:5px;
  margin:5px 0;
}
